* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(https://i.pinimg.com/564x/00/4c/08/004c08518744d1ddcb10925d3e49b9fd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 45px;
    margin-bottom: 20px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

.kolom {
    font-size: 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #132043; 
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: Cambria;
    color: #739072;
}   

.menu {
    float: wrap;
    color: #FFFFFF;
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #fefefe;
    z-index: 1;
    border-bottom: 1px solid #132043;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    
}

h4 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 70px;
    color: #132043;
    width: 100%;
    justify-content: center;
    align-items: center;;
    line-height: 100px;
    display: flex;
    text-align: center;
}


h2 {
    font-family: 'comic sans ms';
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 200px;
    color: #132043;
    justify-content: center;
    align-items: center;;
    line-height: 50px;
    display: flex;
    text-align: center;   
}

p {
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.menu-list {
    width: 100%;
    position: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.kartu-menu {
    width: 20%;
    margin: 0 auto;  
   
}

.kartu-menu img {
    width: 80%;
    border-radius: 20%;
}
   

.kartu-menu p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #132043;
    word-spacing: 10px;
}

a.tbl-pink {
    background: #04da27;
    border-radius: 20px;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold; 
    line-height: 100px;
    
}

h5{
    font-family: 'comic sans ms';
    font-size: 30px;
    text-align: center;

}
#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
    margin-top: 250px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0%;
    margin-right: 15%;
}

.header_social {
    width: 20%;
    margin: 0%;
    flex-wrap: wrap;
    display: flex;
    padding-left: 10%;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #132043;
    width: 100%;
    line-height: 50px;
    display: flex;
}


@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu{
        width: 100%;
        margin: 0;

    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;

    }

    nav .menu ul li {
        display: inline-block;
        float: none;

    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
}